{% extends '_Master.html' %}
{% load static %}
{% load humanize %}
{% block main_content %} 

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Your properties</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FFF;">
            <div class="container">   
                <div class="row">

                    <div class="col-md-12 pr-30 padding-top-40 properties-page user-properties">

                        <div class="section"> 
                            <div class="page-subheader sorting pl0 pr-10">
                                <button class="btn btn-default float-right" onclick= " location.href = '{% url 'user:submit'%}'" data-wow-delay="0.45s" >Submit a property</button>
                            </div>
                        </div>
                        
                        <div class="section"> 
                            <div id="list-type" class="proerty-th-list">
                                {% for home in homes %}
                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="{%url 'home:home' home.id%}" >
                                                {% for each in thumbnails%}
                                                {% if each.home.id == home.id %}
                                                    {% if each != None%}
                                                        <img src="{{each.image.url}}"/>
                                                    {% else %}
                                                        <img src="{% static "assets/img/default.jpg"%}"/>
                                                    {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                            </a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="{%url 'home:home' home.id%}"> {{home.name}} </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> {{home.area}} </span>
                                            <span class="proerty-price pull-right"> $ {{home.price|floatformat:0|intcomma}}</span>
                                            <p style="display: none;">{{home.description}}</p>

                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLongTitle">Delete warning</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                    You are about to delete a property. Are you sure?
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-primary" onclick = " location.href = '{% url 'home:delete' home.id%}'">Delete</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                            <div class="property-icon">
                                                <img src="{% static "assets/img/icon/bed.png" %}"> ( {{home.bedrooms}} )
                                                <img src="{% static "assets/img/icon/shawer.png" %}"> ( {{home.bathrooms}} )
                                                <img src="{% static "assets/img/icon/cars.png" %}"> ( {{home.garage}} )  
                                                <img src="{% static "assets/img/icon/os.png"%}"> ( {{home.garden}} )
                                                <div class="dealer-action pull-right">                                        
                                                    <a href="{% url 'home:edit' home.id%}" class="button">Edit </a>
                                                    <a href="" class="button delete_user_car" data-toggle="modal" data-target="#exampleModalCenter">Delete</a>
                                                    <a href="{% url 'home:home' home.id%}" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                {% endfor %}                                                      
                            </div>
                        </div>

                        

                    </div>       

                    
                </div>
            </div>
        </div>
        {% endblock %}  